

:root {

  --body-font: "Jost", sans-serif;

  --body-color: #ffffff;
  --para-color: #2c3655;
  --head-color: #0a1023;
  --head-alt-color: #055c2d;
  --hover-color: #1a4dbe;

  /* Font Size Variable Start */
    --heading-one: clamp(1.875rem, -2.0093rem + 8.3527vw, 4.25rem);
    --heading-two: clamp(1.75rem, -0.8115rem + 5.3364vw, 3.1875rem);
    --heading-three: clamp(1.5rem, -0.0592rem + 3.2483vw, 2.375rem);
    --heading-four: clamp(1.375rem, 0.7068rem + 1.3921vw, 1.75rem);
    --heading-five: clamp(1.125rem, 0.4568rem + 1.3921vw, 1.5rem);
    --heading-six: clamp(1rem, 0.7773rem + 0.464vw, 1.125rem);
  /* Font Size End */
  /* Gray Color */
    --gray-one: 0 0% 14%;
    --gray-two: 0 0% 31%;
    --gray-three: 0 0% 51%;
    --gray-four: 0 0% 74%;
    --gray-five: 252 10% 90%;
    --gray-six: 252 10% 90%;
    --gray-seven: 210 25% 97%;
  /* White Color */
    --white: 0 0% 100%;
    --static-white: 0 0% 100%;
    --white-one: 236 13% 77%;
    --static-white-one: 236 13% 77%;
  /* Light Color */
    --light-h: 0;
    --light-s: 1%;
    --light-l: 53%;
    --light: var(--light-h) var(--light-s) var(--light-l);
  /* Black Color */
    --black-h: 234;
    --black-s: 100%;
    --black-l: 7%;
    --black: var(--black-h) var(--black-s) var(--black-l);
  /* Black Color */
    --static-black-h: 234;
    --static-black-s: 100%;
    --static-black-l: 7%;
    --static-black: var(--static-black-h) var(--static-black-s) var(--static-black-l);
  /* Black Two Color */
    --black-two-h: 234;
    --black-two-s: 69%;
    --black-two-l: 9%;
    --black-two: var(--black-two-h) var(--black-two-s) var(--black-two-l);
  /* Black three Color */
    --black-three-h: 235;
    --black-three-s: 5%;
    --black-three-l: 43%;
    --black-three: var(--black-three-h) var(--black-three-s) var(--black-three-l);
    --heading-color: var(--black);
    // --body-color: var(--black-three);
    --body-bg: 0 0% 100%;
    --border-color: 236 13% 77%;
    --section-bg: 210 25% 97%;
  /* Card box shadow */
    --box-shadow: 0px 20px 30px 0px rgba(197, 196, 201, 0.25);
    --box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.1);
  /* Color Variables Start */
    --main-gradient: linear-gradient(312deg, hsl(var(--main)) 5.38%, hsl(var(--main-two)) 113.21%);
    --main-gradient-rev: linear-gradient(312deg, hsl(var(--main-two)) 5.38%, hsl(var(--main)) 113.21%);
    --main-gradient-two: linear-gradient(305deg, hsl(var(--main)) 0%, hsl(var(--main-three)) 100%);
  /* ========================= Main Color ============================= */
    --main-h: 253;
    --main-s: 88%;
    --main-l: 58%;
    --main: var(--main-h) var(--main-s) var(--main-l);
  /* Main Lighten */
    --main-l-100: var(--main-h) calc(var(--main-s)) calc(var(--main-l) + (100% - var(--main-l)) * 0.1);
    --main-l-200: var(--main-h) calc(var(--main-s)) calc(var(--main-l) + (100% - var(--main-l)) * 0.2);
    --main-l-300: var(--main-h) calc(var(--main-s)) calc(var(--main-l) + (100% - var(--main-l)) * 0.3);
    --main-l-400: var(--main-h) calc(var(--main-s)) calc(var(--main-l) + (100% - var(--main-l)) * 0.4);
    --main-l-500: var(--main-h) calc(var(--main-s)) calc(var(--main-l) + (100% - var(--main-l)) * 0.5);
  /* Main Darken  */
    --main-d-100: var(--main-h) var(--main-s) calc(var(--main-l) - var(--main-l) * 0.1);
    --main-d-200: var(--main-h) var(--main-s) calc(var(--main-l) - var(--main-l) * 0.2);
    --main-d-300: var(--main-h) var(--main-s) calc(var(--main-l) - var(--main-l) * 0.3);
    --main-d-400: var(--main-h) var(--main-s) calc(var(--main-l) - var(--main-l) * 0.4);
    --main-d-500: var(--main-h) var(--main-s) calc(var(--main-l) - var(--main-l) * 0.5);
  /* ========================= Main Color ============================= */
  /* ========================= Main two Color ============================= */
    --main-two-h: 184;
    --main-two-s: 96%;
    --main-two-l: 48%;
    --main-two: var(--main-two-h) var(--main-two-s) var(--main-two-l);
  /* Main-two Lighten */
    --main-two-l-100: var(--main-two-h) calc(var(--main-two-s)) calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.1);
    --main-two-l-200: var(--main-two-h) calc(var(--main-two-s)) calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.2);
    --main-two-l-300: var(--main-two-h) calc(var(--main-two-s)) calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.3);
    --main-two-l-400: var(--main-two-h) calc(var(--main-two-s)) calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.4);
    --main-two-l-500: var(--main-two-h) calc(var(--main-two-s)) calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.5);
  /* Main-two Darken  */
    --main-two-d-100: var(--main-two-h) var(--main-two-s) calc(var(--main-two-l) - var(--main-two-l) * 0.1);
    --main-two-d-200: var(--main-two-h) var(--main-two-s) calc(var(--main-two-l) - var(--main-two-l) * 0.2);
    --main-two-d-300: var(--main-two-h) var(--main-two-s) calc(var(--main-two-l) - var(--main-two-l) * 0.3);
    --main-two-d-400: var(--main-two-h) var(--main-two-s) calc(var(--main-two-l) - var(--main-two-l) * 0.4);
    --main-two-d-500: var(--main-two-h) var(--main-two-s) calc(var(--main-two-l) - var(--main-two-l) * 0.5);
  /* ========================= Main Three Color ============================= */
  /* ========================= Main three Color ============================= */
    --main-three-h: 306;
    --main-three-s: 100%;
    --main-three-l: 68%;
    --main-three: var(--main-three-h) var(--main-three-s) var(--main-three-l);
  /* Main-three Lighten */
    --main-three-l-100: var(--main-three-h) calc(var(--main-three-s)) calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.1);
    --main-three-l-200: var(--main-three-h) calc(var(--main-three-s)) calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.2);
    --main-three-l-300: var(--main-three-h) calc(var(--main-three-s)) calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.3);
    --main-three-l-400: var(--main-three-h) calc(var(--main-three-s)) calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.4);
    --main-three-l-500: var(--main-three-h) calc(var(--main-three-s)) calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.5);
  /* Main-three Darken  */
    --main-three-d-100: var(--main-three-h) var(--main-three-s) calc(var(--main-three-l) - var(--main-three-l) * 0.1);
    --main-three-d-200: var(--main-three-h) var(--main-three-s) calc(var(--main-three-l) - var(--main-three-l) * 0.2);
    --main-three-d-300: var(--main-three-h) var(--main-three-s) calc(var(--main-three-l) - var(--main-three-l) * 0.3);
    --main-three-d-400: var(--main-three-h) var(--main-three-s) calc(var(--main-three-l) - var(--main-three-l) * 0.4);
    --main-three-d-500: var(--main-three-h) var(--main-three-s) calc(var(--main-three-l) - var(--main-three-l) * 0.5);
  /* ========================= Main Two Color ============================= */
  /* ========================= Info Color ============================= */
    --info-h: 214;
    --info-s: 84%;
    --info-l: 56%;
    --info: var(--info-h) var(--info-s) var(--info-l);
  /* info Lighten */
    --info-l-100: var(--info-h) calc(var(--info-s)) calc(var(--info-l) + (100% - var(--info-l)) * 0.1);
    --info-l-200: var(--info-h) calc(var(--info-s)) calc(var(--info-l) + (100% - var(--info-l)) * 0.2);
    --info-l-300: var(--info-h) calc(var(--info-s)) calc(var(--info-l) + (100% - var(--info-l)) * 0.3);
    --info-l-400: var(--info-h) calc(var(--info-s)) calc(var(--info-l) + (100% - var(--info-l)) * 0.4);
    --info-l-500: var(--info-h) calc(var(--info-s)) calc(var(--info-l) + (100% - var(--info-l)) * 0.5);
  /* info Darken  */
    --info-d-100: var(--info-h) var(--info-s) calc(var(--info-l) - var(--info-l) * 0.1);
    --info-d-200: var(--info-h) var(--info-s) calc(var(--info-l) - var(--info-l) * 0.2);
    --info-d-300: var(--info-h) var(--info-s) calc(var(--info-l) - var(--info-l) * 0.3);
    --info-d-400: var(--info-h) var(--info-s) calc(var(--info-l) - var(--info-l) * 0.4);
    --info-d-500: var(--info-h) var(--info-s) calc(var(--info-l) - var(--info-l) * 0.5);
  /* ========================= Info Color ============================= */
  /* ========================= Success Color ============================= */
    --success-h: 145;
    --success-s: 63%;
    --success-l: 42%;
    --success: var(--success-h) var(--success-s) var(--success-l);
  /* success Lighten */
    --success-l-100: var(--success-h) calc(var(--success-s)) calc(var(--success-l) + (100% - var(--success-l)) * 0.1);
    --success-l-200: var(--success-h) calc(var(--success-s)) calc(var(--success-l) + (100% - var(--success-l)) * 0.2);
    --success-l-300: var(--success-h) calc(var(--success-s)) calc(var(--success-l) + (100% - var(--success-l)) * 0.3);
    --success-l-400: var(--success-h) calc(var(--success-s)) calc(var(--success-l) + (100% - var(--success-l)) * 0.4);
    --success-l-500: var(--success-h) calc(var(--success-s)) calc(var(--success-l) + (100% - var(--success-l)) * 0.5);
  /* success Darken  */
    --success-d-100: var(--success-h) var(--success-s) calc(var(--success-l) - var(--success-l) * 0.1);
    --success-d-200: var(--success-h) var(--success-s) calc(var(--success-l) - var(--success-l) * 0.2);
    --success-d-300: var(--success-h) var(--success-s) calc(var(--success-l) - var(--success-l) * 0.3);
    --success-d-400: var(--success-h) var(--success-s) calc(var(--success-l) - var(--success-l) * 0.4);
    --success-d-500: var(--success-h) var(--success-s) calc(var(--success-l) - var(--success-l) * 0.5);
  /* ========================= Success Color ============================= */
  /* ========================= Warning Color ============================= */
    --waring-h: 45;
    --waring-s: 74%;
    --waring-l: 56%;
    --waring: var(--waring-h) var(--waring-s) var(--waring-l);
  /* waring Lighten */
    --waring-l-100: var(--waring-h) calc(var(--waring-s)) calc(var(--waring-l) + (100% - var(--waring-l)) * 0.1);
    --waring-l-200: var(--waring-h) calc(var(--waring-s)) calc(var(--waring-l) + (100% - var(--waring-l)) * 0.2);
    --waring-l-300: var(--waring-h) calc(var(--waring-s)) calc(var(--waring-l) + (100% - var(--waring-l)) * 0.3);
    --waring-l-400: var(--waring-h) calc(var(--waring-s)) calc(var(--waring-l) + (100% - var(--waring-l)) * 0.4);
    --waring-l-500: var(--waring-h) calc(var(--waring-s)) calc(var(--waring-l) + (100% - var(--waring-l)) * 0.5);
  /* waring Darken  */
    --waring-d-100: var(--waring-h) var(--waring-s) calc(var(--waring-l) - var(--waring-l) * 0.1);
    --waring-d-200: var(--waring-h) var(--waring-s) calc(var(--waring-l) - var(--waring-l) * 0.2);
    --waring-d-300: var(--waring-h) var(--waring-s) calc(var(--waring-l) - var(--waring-l) * 0.3);
    --waring-d-400: var(--waring-h) var(--waring-s) calc(var(--waring-l) - var(--waring-l) * 0.4);
    --waring-d-500: var(--waring-h) var(--waring-s) calc(var(--waring-l) - var(--waring-l) * 0.5);
  /* ========================= Warning Color ============================= */
  /* ========================= Danger Color ============================= */
    --danger-h: 0;
    --danger-s: 79%;
    --danger-l: 63%;
    --danger: var(--danger-h) var(--danger-s) var(--danger-l);
  /* danger Lighten */
    --danger-l-100: var(--danger-h) calc(var(--danger-s)) calc(var(--danger-l) + (100% - var(--danger-l)) * 0.1);
    --danger-l-200: var(--danger-h) calc(var(--danger-s)) calc(var(--danger-l) + (100% - var(--danger-l)) * 0.2);
    --danger-l-300: var(--danger-h) calc(var(--danger-s)) calc(var(--danger-l) + (100% - var(--danger-l)) * 0.3);
    --danger-l-400: var(--danger-h) calc(var(--danger-s)) calc(var(--danger-l) + (100% - var(--danger-l)) * 0.4);
    --danger-l-500: var(--danger-h) calc(var(--danger-s)) calc(var(--danger-l) + (100% - var(--danger-l)) * 0.5);
  /* danger Darken  */
    --danger-d-100: var(--danger-h) var(--danger-s) calc(var(--danger-l) - var(--danger-l) * 0.1);
    --danger-d-200: var(--danger-h) var(--danger-s) calc(var(--danger-l) - var(--danger-l) * 0.2);
    --danger-d-300: var(--danger-h) var(--danger-s) calc(var(--danger-l) - var(--danger-l) * 0.3);
    --danger-d-400: var(--danger-h) var(--danger-s) calc(var(--danger-l) - var(--danger-l) * 0.4);
    --danger-d-500: var(--danger-h) var(--danger-s) calc(var(--danger-l) - var(--danger-l) * 0.5);
  /* ========================= Danger Color ============================= */
}
.collapsing {
  transition: 0.3s;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a {
  font-family: var(--body-font);
  color: var(--head-color);
  font-weight: 600;
  text-transform: initial;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: var(--body-color);
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: var(--para-color);
}

img {
  max-width: 100%;
  height: auto;
}

.max-un {
  max-width: unset;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  cursor: pointer;
}

input,
textarea {
  padding: 10px 20px;
  color: #1e266d;
  width: 100%;
  font-family: var(--body-font) !important;
  height: 50px;
  background: #f5faff;
  border: 1px solid #eef1ff;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="password"] {
  font-family: initial;
}

.select {
  position: relative;
  background-color: transparent;

  &::after {
    content: "";
    vertical-align: 0;
    background-image: url(/images/icon/menu-down.png);
    background-repeat: no-repeat;
    // background-size: 85%;
    border: none;
    width: 40px;
    height: 11px;
  }
}
select {
  -webkit-appearance: none;
  padding: 10px 10px !important;
  cursor: pointer;
  background-color: transparent;
  background: transparent;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  outline: none;
}

// select {
//   // padding: 10px 20px;
//   background: transparent;
//   padding: 10px 0px;
//   border: none;
//   cursor: pointer;
//   outline: none;
// }

textarea {
  min-height: 150px;
  resize: none;
}

span {
  display: inline-block;
}

.table thead th,
.table td,
.table th {
  border: none;
}

.d-grid {
  display: grid !important;
}

.b-none {
  border: none !important;
}

iframe {
  border: 0;
  width: 100%;
}

.shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1,
h1 > a {
  font-size: 76px;
  line-height: 98.8px;
  margin-top: -18px;
}

h2,
h2 > a {
  font-size: 57px;
  line-height: 74.1px;
  margin-top: -12px;
}

h3,
h3 > a {
  font-size: 43px;
  line-height: 55.9px;
  margin-top: -8px;
}

h4,
h4 > a {
  font-size: 32px;
  line-height: 41.6px;
  margin-top: -7px;
}

h5,
h5 > a {
  font-size: 24px;
  line-height: 31.2px;
  margin-top: -5px;
}

h6,
h6 > a {
  font-size: 18px;
  line-height: 23.4px;
  margin-top: -3px;
}

table thead tr th {
  font-size: 18px;
  line-height: 30px;
}

a {
  display: inline-block;
  color: var(--body-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

p,
span,
li {
  margin: 0;
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--para-color);
  line-height: 30px;
}

.section-text {
  margin-bottom: 34px;
}

.section-header {
  margin-bottom: 55px;
}

.sub-title {
  color: var(--head-alt-color);
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  margin-bottom: 16px;
}

.head-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1a4dbe;
  margin-bottom: 30px;
}

.title span {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: var(--head-alt-color);
}

.xxlr {
  font-size: 26px;
  line-height: 36px;
  margin-top: -7px;
}
.xlr {
  font-size: 24px;
  line-height: 36px;
  margin-top: -7px;
}
.mdr {
  font-size: 16px;
  line-height: 22px;
}

.z-1 {
  z-index: 1;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.pt-120 {
  padding-top: 120px;
}

@media (max-width: 991px) {
  .pt-120 {
    padding-top: 60px;
  }
  .mb-60 {
    margin-bottom: 40px;
  }
  .mt-60 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .pt-120 {
    padding-top: 50px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}

@media (max-width: 991px) {
  .pb-120 {
    padding-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .pb-120 {
    padding-bottom: 50px;
  }
}



.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 45px;
  height: 45px;
  background-color: var(--hover-color);
  border-radius: 5px;
  color: #fff;
  line-height: 45px;
  font-size: 20px;
  text-align: center;
  z-index: 9;
  cursor: pointer;
  transition: all 1s;
  transform: translateY(100%);
}

.scrollToTop.active {
  bottom: 30px;
  transform: translateY(0%);
  color: var(--body-color);
}

.scrollToTop:hover {
  color: var(--body-color);
}

.icon-svg {
  position: relative;
  img {
    opacity: 1;
    position: absolute;
  }
  svg {
    position: absolute;
    stroke-dashoffset: 1500;
    stroke-dasharray: 1500;
    transform: scale(1);
    transition: transform 0.3s, fill 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    svg {
      visibility: visible;
      opacity: 1;
      stroke-dashoffset: 0;
      fill: transparent;
      transition: transform 0.3s, fill 0.5s, stroke-dashoffset 6s;
    }
    img {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.accordion-button:focus {
  box-shadow: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* cmn btn */
.cmn-btn {
  // padding: 10px 30px 15px;
  padding: 10px 30px;
  font-weight: 500;
  text-align: center;
  background: var(--hover-color);
  color: var(--body-color);
  border: 1px solid var(--hover-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
  &:hover {
    color: #0a1023;
    background: transparent;
    border: 1px solid #848894;
  }
  &.second {
    color: #0a1023;
    background: transparent;
    border: 1px solid #848894;
    &:hover {
      color: var(--body-color);
      background: var(--hover-color);
      border: 1px solid var(--hover-color);
    }
  }
}

// Animation
@keyframes run_obj {
  100% {
    right: 230%;
    opacity: 0;
  }
  80% {
    right: 200%;
    opacity: 1;
  }
  50% {
    right: 100%;
    opacity: 0.5;
  }
  0% {
    right: 10%;
    opacity: 0;
  }
}
@keyframes run_obj_alt {
  100% {
    left: 230%;
    opacity: 0;
  }
  80% {
    left: 200%;
    opacity: 1;
  }
  50% {
    left: 100%;
    opacity: 0.5;
  }
  0% {
    left: 10%;
    opacity: 0;
  }
}

/* Generated by Glyphter (http://www.glyphter.com) on  Sat Oct 09 2021*/
@font-face {
  font-family: "arafat font";
  src: url("../../../public/fonts/arafat-font.eot");
  src: url("../../../public/fonts/arafat-font.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/arafat-font.woff") format("woff"),
    url("../../../public/fonts/arafat-font.ttf") format("truetype"),
    url("../../../public/fonts/arafat-font.svg#arafat-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:before {
  display: inline-block;
  font-family: "arafat font";
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-a-left-arrow:before {
  content: "\0041";
}
.icon-b-right-arrow:before {
  content: "\0042";
}
.icon-c-left-double-arrow:before {
  content: "\0043";
}
.icon-d-right-double-arrow:before {
  content: "\0044";
}


/**dp market code */
/* ============================ Extend Css Start ======================== */



/* ============================ Mixins Css Start ============================ */
/* Media Breakpoint for Each Device Start */
@mixin xxsm-screen {
  @media screen and (max-width: 374px) {
    @content;
  }
}

// Xtra Small
@mixin xsm-screen {
  @media screen and (max-width: 424px) {
    @content;
  }
}
// Medium Small Screen (max-width: 575)
@mixin msm-screen {
  @media screen and (max-width: 575px) {
    @content;
  }
}

//Small Screen (max-width: 767)
@mixin sm-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

//Large Screen (max-width: 991)
@mixin md-screen {
  @media screen and (max-width: 991px) {
    @content;
  }
}

//Xtra Large Screen (max-width: 1199)
@mixin lg-screen {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

//Xtra Large Screen i (max-width: 1399)
@mixin xl-screen {
  @media screen and (max-width: 1399px) {
    @content;
  }
}

//Xtra Large Screen ii (max-width: 1499)
@mixin xxl-screen {
  @media screen and (max-width: 1499px) {
    @content;
  }
}
//Xtra Large Screen ii (max-width: 1599)
@mixin xxxl-screen {
  @media screen and (max-width: 1599px) {
    @content;
  }
}
/* Media Breakpoint for Each Device End */

/* Font Size For responsive devices Start */
@mixin font-10 {
  font-size: 0.625rem;
}
@mixin font-11 {
  font-size: 0.6875rem;
}
@mixin font-12 {
  font-size: 0.75rem;
}
@mixin font-13 {
  font-size: 0.8125rem;
}
@mixin font-14 {
  font-size: 0.875rem;
}
@mixin font-15 {
  font-size: 0.9375rem;
}
@mixin font-16 {
  font-size: 1rem;
}
@mixin font-17 {
  font-size: 1.0625rem;
}
@mixin font-18 {
  font-size: 1.125rem;
}
@mixin font-19 {
  font-size: 1.1875rem;
}
@mixin font-20 {
  font-size: 1.25rem;
}
@mixin font-21 {
  font-size: 1.3125rem;
}
@mixin font-22 {
  font-size: 1.375rem;
}
@mixin font-23 {
  font-size: 1.4375rem;
}
@mixin font-24 {
  font-size: 1.5rem;
}
@mixin font-25 {
  font-size: 1.5625rem;
}
@mixin font-26 {
  font-size: 1.625rem;
}
@mixin font-27 {
  font-size: 1.6875rem;
}
@mixin font-28 {
  font-size: 1.75rem;
}
@mixin font-29 {
  font-size: 1.8125rem;
}
@mixin font-30 {
  font-size: 1.875rem;
}
@mixin font-31 {
  font-size: 1.9375rem;
}
@mixin font-32 {
  font-size: 2rem;
}
@mixin font-33 {
  font-size: 2.0625rem;
}
@mixin font-34 {
  font-size: 2.125rem;
}
@mixin font-35 {
  font-size: 2.1875rem;
}
@mixin font-36 {
  font-size: 2.25rem;
}
@mixin font-37 {
  font-size: 2.3125rem;
}
@mixin font-38 {
  font-size: 2.375rem;
}
@mixin font-39 {
  font-size: 2.4375rem;
}
@mixin font-40 {
  font-size: 2.5rem;
}
/* Font Size For responsive devices End */

/* ============================ Mixins Css End ============================ */


/* Cover image Css */
.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
/* Display Flex Css Start */ 
.flx-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flx-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flx-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flx-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* Display Flex Css End */

/* Positioning Css Class Start */
.pa-content {
  position: absolute;
  content: "";
}
.top-center {
  top: 50%;
  transform: translateY(-50%);
}
.left-center {
  left: 50%;
  transform: translateX(-50%);
}
.top-left-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Positioning Css Class End */

/* Font Size For responsive devices Start */
.font-10 {
  font-size: 0.625rem !important;
}
.font-11 {
  font-size: 0.6875rem !important;
}
.font-12 {
  font-size: 0.75rem !important;
}
.font-13 {
  font-size: 0.8125rem !important;
}
.font-14 {
  font-size: 0.875rem !important;
}
.font-15 {
  font-size: 0.9375rem !important;
}
.font-16 {
  font-size: 1rem !important;
}
.font-17 {
  font-size: 1.0625rem !important;
}
.font-18 {
  font-size: 1.125rem !important;
  @include lg-screen {
      font-size: 1rem !important;
  }
  @include sm-screen {
      font-size: 0.9375rem !important;
  }
}
.font-19 {
  font-size: 1.1875rem !important;
}
.font-20 {
  font-size: 1.25rem !important;
  @include lg-screen {
      font-size: 1.125rem !important;
  }
  @include sm-screen {
      font-size: 1rem !important;
  }
}
.font-21 {
  font-size: 1.3125rem !important;
}
.font-22 {
  font-size: 1.375rem !important;
}
.font-23 {
  font-size: 1.4375rem !important;
}
.font-24 {
  font-size: 1.5rem !important;
}
.font-25 {
  font-size: 1.5625rem !important;
}
.font-26 {
  font-size: 1.625rem !important;
}
.font-27 {
  font-size: 1.6875rem !important;
}
.font-28 {
  font-size: 1.75rem !important;
}
.font-29 {
  font-size: 1.8125rem !important;
}
.font-30 {
  font-size: 1.875rem !important;
}
.font-31 {
  font-size: 1.9375rem !important;
}
.font-32 {
  font-size: 2rem !important;
}
.font-33 {
  font-size: 2.0625rem !important;
}
.font-34 {
  font-size: 2.125rem !important;
}
.font-35 {
  font-size: 2.1875rem !important;
}
.font-36 {
  font-size: 2.25rem !important;
}
.font-37 {
  font-size: 2.3125rem !important;
}
.font-38 {
  font-size: 2.375rem !important;
}
.font-39 {
  font-size: 2.4375rem !important;
}
.font-40 {
  font-size: 2.5rem !important;
}
/* Font Size For responsive devices End */

/* ============================ Extend Css End ======================== */

